OPENAI_API_KEY=
UPSTAGE_API_KEY=
PINECONE_API_KEY=
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=rag-pipeline-lab2026
# LANGSMITH_ENDPOINT=

RETRIVR_BASE_URL=http://ec2-3-38-98-81.ap-northeast-2.compute.amazonaws.com
RETRIVR_API_TOKEN=
OPENAI_CHAT_MODEL=gpt-4o-mini
